<div class="main main-raised" style="margin: 0 30px 0 30px">
  <div class="section" style="padding-top: 0px">
    <div class="container">
      <h1>Nueva pregunta</h1>
      <%= render 'form_update', question: @question, quiz: @question.quiz %>

      <%= link_to 'Back', quiz_questions_path %>
    </div>
  </div>
</div>
